.table {
    width: 100%;
    border-collapse: collapse;
}

.thTitle {
    background-color: #2a2a2a;
    color: #fdfdfd;
    font-size: 20px;
}

.thTitle,
.td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.td {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background-color: #cacaca;
}